@using System.Web.Optimization
@using EPiServer.Framework.Web.Mvc.Html

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>  </title>
        <link rel="stylesheet" href="~/dist/css/vendor.bundle.css" media="all">
       
        <!-- Polyfills -->
        <script src="~/dist/js/polyfills.bundle.js"></script>
        <script src="~/dist/js/vendor.bundle.js"></script>
        
    </head>
    <body>
        <vizob-app>

        </vizob-app>
        @RenderBody()
        
    </body>
<script src="~/dist/js/app.bundle.js"></script>
</html>
